@font-face {
    font-family: "retropix";
    src: url("fonts/retropix.otf/retropix.otf") format("opentype");
}

body {
    background-color: #ffe3e1;
}

*{
    margin-left: 50px;
    margin-right: 50px;
    font-family: "Sanchez";
    box-sizing: border-box;
    /* outline: 2px solid red; */ 
}

p{
    color: #ff9494;
}

#removemargin{
    margin-left: 0px;
}

#reducemargin {
    margin-top: -30px;
}

.linebreak {
    color: #ffe3e1;
}

.title1 {
    color: #FFD1D1;
    font-family: "Shrikhand";
    font-style: normal;
    font-size: 100px;
    font-weight: 600;
    text-align: center;
    margin-top: 50px;
    letter-spacing: 10px;
    -webkit-text-stroke: 1px #d7a5a2;
}
.title2 {
    color: #FFF5E4;
    font-family: "Sanchez";
    font-style: italic;
    font-size: 90px;
    font-weight: 600;
    text-align: center;
    margin-top: -200px;
    letter-spacing: 1px;
    -webkit-text-stroke: 1px #d7a5a2; 
}

.subpageheading {
    color: #FFF5E4;
    font-family: "Sanchez";
    font-size: 80px;
    font-weight: 600;
    text-align: left;
    margin-top: 0px;
    -webkit-text-stroke: 1px #d7a5a2;
}

.parahead {
    color: #ff9494;
    font-size: 40px;
    font-weight: 600;
    text-align: left;
}

.intro1 {
    color: #ff9494;
    font-size: 55px;
    font-weight: 600;
    text-align: left;
}

#intro1line2 {
    margin-top: -50px;
}

.parasubhead {
    color: #ff7070;
    font-size: 30px;
    font-weight: 300;
}

#intro2{
    text-align: left;
    margin-top: -30px;
}


.parabody {
    color: #ff7070;
    font-size: 20px;
    font-weight: 200;
    text-align: left;
    overflow: hidden;
}

.sectionhead {
    color: #ff9494;
    font-size: 55px;
    font-weight: 600;
    text-align: left;
}

#picrew {
    border-radius: 20px;
    display: block;
    float: right;
    margin-right: 50px;
    border: 10px solid #d7a5a2;
}

.navbar {
    margin-left: 50px;
    margin-right: 0px;
    font-size: 20px;
    float: left;
    font-family: "retropix";
    letter-spacing: -1px;
    color: #C27E79;
}

.link {
    margin-left: 0px;
    margin-right: 0px;
    font-size: 30px;
    letter-spacing: -1px;
    color: #ff7070;
}

#ccapic {
    border-radius: 10px;
    display: block;
    float: left;
    margin-left: 50px;
    border: 5px solid #C27E79;
}

.bbcsroles {
    color: #ff7070;
    font-size: 28px;
    font-weight: 300;
}
  
.icon {
    height: 50px;
    fill: #d7a5a2;
}